/*
 * Dark Academia overrides
 */

:root {
  --global-bg-color: #f0e8d0;
  --global-text-color: #2a1e08;
  --global-text-color-light: #6a5030;
  --global-theme-color: #8a6830;
  --global-hover-color: #7a5020;
  --global-footer-bg-color: #e0d4b4;
  --global-divider-color: #c4aa80;
  --global-card-bg-color: #e8dfc8;
}
